apiVersion: v1
kind: Service
metadata:
  name: quiz-backend
  namespace: quiz-app
  labels:
    app: quiz-backend
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: quiz-backend